
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payer</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <form action="payment" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
            data-key="{{ key }}" 
            data-name="{{ nom }}" 
            data-description="{{ description }}" 
            data-amount="{{ amount }}"
            data-currency="{{ currency }}" 
            data-email="{{ email }}" 
            data-locale="auto">
        </script>
    </form>
</body>
</html>